.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Quote{
  box-shadow: 2px 2px 8px #282c34;
  background-color: #ffffff;
  width:fit-content;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 15px;
}
.Quote p i{
  margin:20px;
  font-size: 20px;
}
.Quote p{
  font-size: 20px;
}
.Arthor{
  display: flex;
  justify-content: right;
  padding: 15px;
}
.btn{
  text-align: end;
}
.btn button{
 width: 50px;
 height: 50px;
 border-radius: 50%;
border: 0px solid white;
  box-shadow: 2px 2px 2px black;
}
.btn button i{
  color: #ffffff;
  align-items: flex-end;
}